/* This is the CSS file
This is the general layout
*/

*{
    box-sizing: border-box;
}

body{
  margin: 0px 50px 0px 50px;
  font-family: Helvetica Neue;
}


a{
  text-decoration: none;
  color: #96f;
  padding: 3px 0px 6px;
}
s
ul{
  list-style: none;
  margin: 10px 20px 10px 20px
}

.wrapper-general{
  margin: 0px 30px 120px 30px;
  /*   don't exceed the 1200 width  */
  max-width: 1200px;
  margin: 10em 0em;
}

/* Menu content style*/


header{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style-type: none;
}

li a{
  padding: 0 1.2em;

}

h1{
  font-size: 4.7em;
  letter-spacing: -0.1px;
  color: #0a2540;
}

h2{
  font-size: 4em;
  letter-spacing: -0.1px;
  color: #96f;
}

h3{
  color: #96f;
  padding-bottom: 3em;
}

p{
  letter-spacing: .2px;
  color: #425466;
  font-size: 1em;
  line-height: 3em;
}


/* Box style section*/

.box-wrapper{
  display: flex;
  justify-content: space-around;
}
